################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/Debug/SFML.tlog
/Debug
/Release/SFML.tlog
/Release
/sprites
